
<div class="process-header">
    <img src="<%= current_participatory_space.attached_uploader(:banner_image).path %>" alt="test">
    <div class="process-header__container">
      <div class="columns medium-7 mediumlarge-8 process-header__info">
            <% if current_participatory_space.hashtag.present? %>
              <span class="process-header__hashtag">
                <%= link_to "##{current_participatory_space.hashtag}", twitter_hashtag_url(current_participatory_space.hashtag), target: "_blank" %>
              </span>
            <% end %>
        <div>
          <h1 class="heading2">
            <%= link_to translated_attribute(current_participatory_space.title), assembly_url(current_participatory_space), class: "heading2" %>
          </h1>
        </div>
        <div>
          <p class="heading-small">
            <%= translated_attribute(current_participatory_space.subtitle) %>
          </p>
        </div>
       
      </div>
      </div>
    </div>
  
  <%= render partial: "layouts/decidim/assembly_navigation", locals: { participatory_space: current_participatory_space } %>
</div>
